DataScienceEcosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objetives:**
- Unorderded list
- List popular languages for Data Science
- Markdown cells
- Code cells and multiply numbers
- Create a notebook

Some of popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists:
1. Panda
2. Scikit-lean
3. TensorFlow

|Data Science Tools|
|---|
|RStudio|
|Apache Spark|
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
#This a simple arithmetic expression to multiply then add integer
(3*4)+5

17

In [5]:
#this will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

Author 
## Christian De La Cruz